a {
    color: gray;
    text-decoration: none;
}

h1.jumbo {
    font-size: 42px;
    text-align: center;
}

h1 {
    text-align: center;
}

.services {
    list-style: none;
}

.services li {
    display: inline-table;
    width: 140px;
    height: 3em;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin:10px 20px;
}

.services li .description {
    display: none;
    position: absolute;
}

.services li:hover .description {
    display: block;
    width: 150px;
    font-size: 14px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
    padding: 5px;
}
}

.row {
    display: block;
}

.row::after {
    content: '';
    clear: both;
    display: block;
}

.span1 {
    width: 8.3%;
    float: left;
}

.span2 {
    width: 16.6%;
    float: left;
}

.span3 {
    width: 25%;
    float: left;
}

.span6 {
    width: 50%;
    float: left;
}

figure {
    height: 350px;
    position: relative;
}

figure img {
    position: absolute;
    bottom: 0px;
}

select {
    font-size: 16px;
}

#wrapper {
    font-size: 16px;
}

/* Schedule */
.schedule {

}

.schedule img {
    width: 300px;
}
