{% extends 'BBCBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}

    <h1 class="title">Welcome BBC Peeps!</h1>

{% endblock %}
