<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title 'Demo Bundle' %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
{% block bodyfirst %}{% endblock %}
{% block content %}{% endblock %}
{% block bodylast %}{% endblock %}
</body>
</html>
