{% extends 'BBCBundle::layout.html.twig' %}

{% block head %}{{ head | raw }}{% endblock %}
{% block bodyfirst %}{{ bodyfirst | raw }}{% endblock %}
{% block bodylast %}{{ bodylast | raw }}{% endblock %}


{% block title %}SCHEDULE{% endblock %}
{% block content %}
    <h1 class="title">SCHEDULE</h1>
{% endblock %}
